@tailwind base;
@tailwind components;
@tailwind utilities;

.img-circle {
  @apply rounded-full shadow-2xl object-fill flex-shrink;
}

.rounded-xl {
  border-radius: 4rem;
}

.height-50 {
  min-height: 50vh;
}

.img-size {
  height: 100%;
  width: 100%;
}
